.atas {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.judul {
    font-family: 'Times New Roman', Times, serif;
}

.home {
    font-family: initial;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}