.atas {
    font-family: 'Courier New', Courier, monospace;
}

.judul {
    font-family: 'Times New Roman', Times, serif;
}

.home {
    font-family: initial;
}

p {
    font-family: 'Courier New', Courier, monospace;
}